# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
env/
.venv/
venv/
pip-wheel-metadata/
dist/
build/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Virtual environment
.env
.env.*

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Hardhat / onchain artifacts
artifacts/
cache/
build-info/

# Temporary
.pytest_cache/
tmp/

Frojeck-Viungdungtaichinhcanhan/

.vite/
